{% extends "layouts/base_client.html" %}

{% block main %}
 <main class="main">

    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container">
        <nav class="breadcrumbs">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">About</li>
          </ol>
        </nav>
        <h1>About</h1>
      </div>
    </div><!-- End Page Title -->

    <!-- About 2 Section -->
    <section id="about-2" class="about-2 section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row mb-lg-5">
          <span class="text-uppercase small-title mb-2">About Our Company</span>
          <div class="col-lg-6">
            <h2 class="about-title">Nous sommes une équipe passionnée, engagée à offrir des solutions de qualité alliant innovation, fiabilité et satisfaction client pour un impact durable.</h2>
          </div>
          <div class="col-lg-6 description-wrapper">
            <p class="about-description">Notre entreprise met l’innovation et la qualité au cœur de ses services. Grâce à une équipe dynamique et à l’écoute, nous proposons des solutions adaptées aux besoins de nos clients, avec pour objectif principal leur satisfaction et la création de valeur durable.

</p>
          </div>
        </div>

        <div class="row g-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="content-card">
              <div class="card-image">
                <img src="assets/img/about/about-portrait-16.webp" alt="" class="img-fluid">
              </div>
              <div class="card-content">
                <h3>Satisfaire les besoins des clients</h3>
                <p>en offrant des produits et services de qualité, adaptés à leurs attentes.</p>
                <a href="#" class="read-more">
                  Explore More <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div><!-- End Content Card -->

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
            <div class="content-card">
              <div class="card-image">
                <img src="assets/img/about/about-portrait-4.webp" alt="" class="img-fluid">
              </div>
              <div class="card-content">
                <h3>Innover en continu</h3>
                <p>pour rester compétitif et proposer des solutions modernes et efficaces.</p>
                <a href="#" class="read-more">
                  Learn More <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div><!-- End Content Card -->

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="400">
            <div class="content-card">
              <div class="card-image">
                <img src="assets/img/about/about-portrait-1.webp" alt="" class="img-fluid">
              </div>
              <div class="card-content">
                <h3>Développer une croissance durable</h3>
                <p>tout en construisant des relations de confiance avec nos partenaires et clients.</p>
                <a href="#" class="read-more">
                  Discover More <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
          <!-- End Content Card -->

        </div>

      </div>

    </section><!-- /About 2 Section -->

    <!-- Stats Section -->
    <section id="stats" class="stats section light-background">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="stats-item">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="520" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Happy Clients</strong> <span></span></p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="8" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Objectif</strong> <span>Atteind</span></p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Heures d'assistance</strong> <span></span></p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Membres dévoués et travailleurs</strong> <span>engagés à développer et optimiser le site pour garantir performance et qualité.</span></p>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>

    </section><!-- /Stats Section -->

    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="testimonials-slider swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "slidesPerView": 1,
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "navigation": {
                "nextEl": ".swiper-button-next",
                "prevEl": ".swiper-button-prev"
              }
            }
          </script>

          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row">
                  <div class="col-lg-8">
                    <h2>Feedback clients</h2>
                    <p>
                       "Je suis très satisfait de mon expérience sur ce site. La navigation est fluide, les produits sont bien présentés avec des descriptions claires, et la commande s'est faite sans aucun souci. J’ai reçu mon colis dans les délais annoncés, bien emballé et en parfait état. C’est agréable de voir un service aussi professionnel. Merci à toute l’équipe !"
                    </p>
                    <p>
                    </p>
                    <div class="profile d-flex align-items-center">
                      <img src="assets/img/person/person-m-7.webp" class="profile-img" alt="">
                      <div class="profile-info">
                        <h3>Saul Goodman</h3>
                        <span>Client</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 d-none d-lg-block">
                    <div class="featured-img-wrapper">
                      <img src="assets/img/person/person-m-7.webp" class="featured-img" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End Testimonial Item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row">
                  <div class="col-lg-8">
                    <h2>Feedback Clients</h2>
                    <p>
					"Franchement impressionné par la qualité du service client. J'avais une question avant de finaliser ma commande, et j’ai obtenu une réponse rapide et précise. Cela m’a beaucoup rassuré. La qualité du produit est excellente et correspond totalement à ce qui est affiché sur le site. Je recommande vivement."
                    </p>
                    <p>
                    </p>
                    <div class="profile d-flex align-items-center">
                      <img src="assets/img/person/person-f-8.webp" class="profile-img" alt="">
                      <div class="profile-info">
                        <h3>Sara Wilsson</h3>
                        <span>Designer</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 d-none d-lg-block">
                    <div class="featured-img-wrapper">
                      <img src="assets/img/person/person-f-8.webp" class="featured-img" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End Testimonial Item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row">
                  <div class="col-lg-8">
                    <h2>
                   Feedback Clients
                    </h2>
                    <p>
					"C’est rare de tomber sur une plateforme aussi bien pensée. L’interface est intuitive, les produits sont variés et bien classés, et on sent que beaucoup d’efforts ont été faits pour offrir une belle expérience utilisateur. Félicitations à l’équipe derrière ce projet, vous faites un super travail !"
                    </p>
                    <p>
                    </p>
                    <div class="profile d-flex align-items-center">
                      <img src="assets/img/person/person-m-9.webp" class="profile-img" alt="">
                      <div class="profile-info">
                        <h3>Matt Brandon</h3>
                        <span>Freelancer</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 d-none d-lg-block">
                    <div class="featured-img-wrapper">
                      <img src="assets/img/person/person-m-9.webp" class="featured-img" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End Testimonial Item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row">
                  <div class="col-lg-8">
                    <h2>Feedback Clients</h2>
                    <p>
"J'ai commandé plusieurs fois et je suis toujours aussi satisfait. Ce que j'apprécie le plus, c’est la constance dans la qualité du service : rapidité, sérieux, disponibilité du support… On sent qu’il y a une vraie équipe motivée derrière, bravo à vous !"                    </p>
                    <p>
                    </p>
                    <div class="profile d-flex align-items-center">
                      <img src="assets/img/person/person-f-10.webp" class="profile-img" alt="">
                      <div class="profile-info">
                        <h3>Jena Karlis</h3>
                        <span>Store Owner</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 d-none d-lg-block">
                    <div class="featured-img-wrapper">
                      <img src="assets/img/person/person-f-10.webp" class="featured-img" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End Testimonial Item -->

          </div>

          <div class="swiper-navigation w-100 d-flex align-items-center justify-content-center">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>

        </div>

      </div>

    </section><!-- /Testimonials Section -->

  </main>
{% endblock main %}