{% extends "layouts/base_client.html" %}

{% block main %}
<main class="main">
    <!-- Page Title -->
    <div class="page-title light-background position-relative">
        <div class="container">
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="/">Home</a></li>
                    <li class="current">Liste des souhaits</li>
                </ol>
            </nav>
            <h1>Liste des souhaits</h1>
        </div>
    </div><!-- End Page Title -->

    <!-- Login Section -->
    <section id="login" class="login section">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-8" data-aos="zoom-in" data-aos-delay="200">

                </div>
            </div>
        </div>
    </section><!-- /Login Section -->
</main>
{% endblock main %}