{% extends "layouts/base.html" %}

{% block title %}
Gestion des Produits | Ajouter un Produit
{% endblock title %}

{% block breadcrumb %}
<div class="row">
    <div class="col-sm-6">
        <h3 class="mb-0">Gestion des Produits</h3>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-end">
            <li class="breadcrumb-item"><a href="/">Accueil</a></li>
            <li class="breadcrumb-item"><a href="/produit">Produits</a></li>
            <li class="breadcrumb-item active" aria-current="page">Ajouter</li>
        </ol>
    </div>
</div>
{% endblock breadcrumb %}

{% block content %}
<div class="card mb-4">
    <div class="card-header">
        <div class="row">
            <div class="col-6">
                <h3 class="card-title">Ajouter Produit</h3>
            </div>
            <div class="col-6">
                <a href="/produits" class="btn btn-dark float-end">Retour</a>
            </div>
        </div>
    </div>

    <form action="{{ url_for('produit.create') }}" method="POST" enctype="multipart/form-data">
        <div class="card-body">
            {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
            <div class="row">
                <div class="col-6">
                    <div class="mb-3">
                        <label for="designation" class="form-label">Produit Designation</label>
                        <input type="text" class="form-control" id="designation" name="designation" required>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" name="description" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="prix_vente" class="form-label">Prix de Vente</label>
                        <input type="number" class="form-control" id="prix_vente" name="prix_vente" required>
                    </div>


                </div>
                <div class="col-6">
                    <div class="mb-3">
                        <label for="categorie_id" class="form-label">Catégorie</label>
                        <select id="categorie_id" name="categorie_id" class="form-control" required>
                            {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.nom }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="sous_categorie_id" class="form-label">Sous-Catégorie</label>
                        <select id="sous_categorie_id" name="sous_categorie_id" class="form-control" required>
                            {% for sous_category in sous_categories %}
                            <option value="{{ sous_category.id }}">{{ sous_category.nom }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Image du Produit</label>
                        <input type="file" class="form-control" id="image" name="image">
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <div class="row">
                <div class="col-3 offset-3">
                    <a href="/produits" class="btn w-100 btn-dark">Annuler</a>
                </div>
                <div class="col-3">
                    <button type="submit" class="btn w-100 btn-primary">Ajouter</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %}

{% block js %}
<script>
    document.getElementById('menu_produits').classList.add('active');
</script>
{% endblock js %}