{% extends "layouts/base.html" %}

{% block title %}
Gestion des Commandes | Modifier produit à la Commande
{% endblock title %}

{% block breadcrumb %}
<div class="row">
    <div class="col-sm-6">
        <h3 class="mb-0">Gestion des Commandes</h3>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-end">
            <li class="breadcrumb-item"><a href="/">Accueil</a></li>
            <li class="breadcrumb-item"><a href="/commandes">Commandes</a></li>
            <li class="breadcrumb-item active" aria-current="page">Ajouter</li>
        </ol>
    </div>
</div>
{% endblock breadcrumb %}

{% block content %}
<div class="card mb-4">
    <div class="card-header">
        <div class="row">
            <div class="col-6">
                <h3 class="card-title">Modifier produit à la Commande</h3>
            </div>
            <div class="col-6">
                <a href="/commandes/details/{{ commande.id }}" class="btn btn-dark float-end">Retour</a>
            </div>
        </div>
    </div>

    <form method="POST">
        <div class="card-body">
            {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
            <div class="row">
                <div class="col-6 offset-3">
                    <div class="mb-3">
                        <label for="produit_id" class="form-label">Produit</label>
                        <select class="form-control" id="produit_id" name="produit_id" required>
                            {% for produit in produits %}
                            <option 
                            {% if produit.id == commande_produit.produit.id %}
                            selected
                            {% endif %}
                            value="{{ produit.id }}">{{ produit.designation }} - {{ produit.prix_vente }} DT
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="quantite" class="form-label">Quantité</label>
                        <input type="number" min="1" value="{{ commande_produit.quantite }}" class="form-control" id="quantite" name="quantite"
                            required>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <div class="row">
                <div class="col-md-3 offset-md-3">
                    <a href="/commandes/details/{{ commande.id }}" class="btn w-100 btn-dark">Annuler</a>
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn w-100 btn-primary">Enregistrer</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %}

{% block js %}
<script>
    document.getElementById('menu_commandes').classList.add('active');
</script>
{% endblock js %}