<ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">

    <!-- Commandes Section -->
    <li class="nav-header text-uppercase text-sm mt-2">Commandes</li>
    <li class="nav-item">
        <a href="/commandes" class="nav-link" id="menu_commandes">
            <i class="nav-icon bi bi-receipt"></i>
            <p>Commandes</p>
        </a>
    </li>

    <!-- Produits Section -->
    <li class="nav-header text-uppercase text-sm mt-2">Produits</li>
    <li class="nav-item">
        <a href="/produits" class="nav-link" id="menu_produits">
            <i class="nav-icon bi bi-box-seam"></i>
            <p>Produits</p>
        </a>
    </li>

    <!-- Compte Section -->
    <li class="nav-header text-uppercase text-sm mt-2">Compte</li>
    <li class="nav-item">
        <a href="/profile" class="nav-link" id="menu_profile">
            <i class="nav-icon bi bi-person-circle"></i>
            <p>Profil</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="/logout" class="nav-link" id="menu_logout">
            <i class="nav-icon bi bi-box-arrow-right"></i>
            <p>Déconnexion</p>
        </a>
    </li>

</ul>
