<ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">

    <!-- Prévision Section -->
    <li class="nav-header text-uppercase text-sm mt-2">Prévision</li>
    <li class="nav-item">
        <a href="/dashboard" class="nav-link" id="menu_dashboard">
            <i class="nav-icon bi bi-bar-chart-line"></i>
            <p>Dashboard</p>
        </a>
    </li>

    <!-- Compte Section -->
    <li class="nav-header text-uppercase text-sm mt-2">Compte</li>
    <li class="nav-item">
        <a href="/profile" class="nav-link" id="menu_profile">
            <i class="nav-icon bi bi-person-circle"></i>
            <p>Profil</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="/logout" class="nav-link" id="menu_logout">
            <i class="nav-icon bi bi-box-arrow-right"></i>
            <p>Déconnexion</p>
        </a>
    </li>

</ul>
