<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>High Teck</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicons -->
    <link href="/static/client/assets/img/favicon.png" rel="icon">
    <link href="/static/client/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Quicksand:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/static/client/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/client/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/client/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/static/client/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/static/client/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/static/client/assets/vendor/drift-zoom/drift-basic.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="/static/client/assets/css/main.css" rel="stylesheet">

    <!-- =======================================================
  * Template Name: High Teck
  * Template URL: https://bootstrapmade.com/fashion-store-bootstrap-template/
  * Updated: Apr 26 2025 with Bootstrap v5.3.5
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

    <header id="header" class="header position-relative">
        <!-- Top Bar -->
        <div class="top-bar py-2 d-none d-lg-block">
            <div class="container-fluid container-xl">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="d-flex align-items-center">
                            <div class="top-bar-item me-4">
                                <i class="bi bi-telephone-fill me-2"></i>
                                <span>Customer Support: </span>
                                <a href="tel:+21655226571">+(216) 55 226 571</a>
                            </div>
                            <div class="top-bar-item">
                                <i class="bi bi-envelope-fill me-2"></i>
                                <a href="mailto:support@example.com">bhanas148@gmail.com</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                    </div>
                </div>
            </div>
        </div>
        </div>

        <!-- Main Header -->
        <div class="main-header">
            <div class="container-fluid container-xl">
                <div class="d-flex py-3 align-items-center justify-content-between">

                    <!-- Logo -->
                    <a href="/" class="logo d-flex align-items-center">
                        <!-- Uncomment the line below if you also wish to use an image logo -->
                        <!-- <img src="assets/img/logo.webp" alt=""> -->
                        <h1 class="sitename">High<span>Teck</span></h1>
                    </a>

                    <!-- Search -->
                    <form class="search-form desktop-search-form">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Rechercher des produits...">
                            <button class="btn search-btn" type="submit">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </form>

                    <!-- Actions -->
                    <div class="header-actions d-flex align-items-center justify-content-end">

                        <!-- Mobile Search Toggle -->
                        <button class="header-action-btn mobile-search-toggle d-xl-none" type="button"
                            data-bs-toggle="collapse" data-bs-target="#mobileSearch" aria-expanded="false"
                            aria-controls="mobileSearch">
                            <i class="bi bi-search"></i>
                        </button>

                        <!-- Account -->
                        <div class="dropdown account-dropdown">
                            <button class="header-action-btn" data-bs-toggle="dropdown">
                                <i class="bi bi-person"></i>
                                <span class="action-text d-none d-md-inline-block">Compte</span>
                            </button>
                            <div class="dropdown-menu">
                                <div class="dropdown-header">
                                    <h6>Bienvenue a <span class="sitename">High Teck</span></h6>
                                    <p class="mb-0">Accéder au compte &amp; gérer les commandes</p>
                                </div>
                                <div class="dropdown-body">
                                    <a class="dropdown-item d-flex align-items-center" href="/profile">
                                        <i class="bi bi-person-circle me-2"></i>
                                        <span>Mon Profil</span>
                                    </a>
                                    <a class="dropdown-item d-flex align-items-center" href="/mes-commandes">
                                        <i class="bi bi-bag-check me-2"></i>
                                        <span>Mes Commandes</span>
                                    </a>
                                    <a class="dropdown-item d-flex align-items-center" href="/wishlist">
                                        <i class="bi bi-heart me-2"></i>
                                        <span>Ma Liste de Souhaits</span>
                                    </a>
                                </div>
                                <div class="dropdown-footer">
                                    {% if session.get('LOGGED_IN') %}
                                    <a href="/logout" class="btn btn-outline-primary w-100">Déconnexion</a>
                                    {% else %}
                                    <a href="/login" class="btn btn-primary w-100 mb-2">Se Connecter</a>
                                    <a href="/register" class="btn btn-outline-primary w-100">Créer un compte</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <!-- Wishlist -->
                        <a href="/wishlist" class="header-action-btn d-none d-md-flex">
                            <i class="bi bi-heart"></i>
                            <span class="action-text d-none d-md-inline-block">Liste de souhaits </span>
                            <span class="badge">0</span>
                        </a>

                        {% include "frontend/cart/panier.html" %}

                        <!-- Mobile Navigation Toggle -->
                        <i class="mobile-nav-toggle d-xl-none bi bi-list me-0"></i>

                    </div>
                </div>
            </div>
        </div>

        <!-- Navigation -->
        <div class="header-nav">
            <div class="container-fluid container-xl position-relative">
                <nav id="navmenu" class="navmenu">
                    <ul>
                        <li><a href="/" class="active">Home</a></li>
                        <li><a href="/about">à propos</a></li>

                        <!-- Products Mega Menu 1 -->
                        <li class="products-megamenu-1"><a href="#"><span>Features</span> <i
                                    class="bi bi-chevron-down toggle-dropdown"></i></a>

                            <!-- Products Mega Menu 1 Mobile View -->
                            <ul class="mobile-megamenu">

                                <li><a href="#">Featured Products</a></li>
                                <li><a href="#">Nouvelle Arrivages</a></li>
                                <li><a href="#">Articles en solde</a></li>

                                <li class="dropdown"><a href="#"><span>Electroniques</span> <i
                                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <ul>
                                        <li><a href="#">Men's Wear</a></li>
                                        <li><a href="#">Women's Wear</a></li>
                                        <li><a href="#">Kids Collection</a></li>
                                        <li><a href="#">Sportswear</a></li>
                                        <li><a href="#">Accessories</a></li>
                                    </ul>
                                </li>

                                <li class="dropdown"><a href="#"><span>Electronics</span> <i
                                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <ul>
                                        <li><a href="#">Smartphones</a></li>
                                        <li><a href="#">Laptops</a></li>
                                        <li><a href="#">Audio Devices</a></li>
                                        <li><a href="#">Smart Home</a></li>
                                        <li><a href="#">Accessories</a></li>
                                    </ul>
                                </li>

                                <li class="dropdown"><a href="#"><span>Home &amp; Living</span> <i
                                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <ul>
                                        <li><a href="#">Furniture</a></li>
                                        <li><a href="#">Decor</a></li>
                                        <li><a href="#">Kitchen</a></li>
                                        <li><a href="#">Bedding</a></li>
                                        <li><a href="#">Lighting</a></li>
                                    </ul>
                                </li>

                                <li class="dropdown"><a href="#"><span>Beauty</span> <i
                                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <ul>
                                        <li><a href="#">Skincare</a></li>
                                        <li><a href="#">Makeup</a></li>
                                        <li><a href="#">Haircare</a></li>
                                        <li><a href="#">Fragrances</a></li>
                                        <li><a href="#">Personal Care</a></li>
                                    </ul>
                                </li>

                            </ul><!-- End Products Mega Menu 1 Mobile View -->

                            <!-- Products Mega Menu 1 Desktop View -->
                            <div class="desktop-megamenu">

                                <div class="megamenu-tabs">
                                    <ul class="nav nav-tabs" id="productMegaMenuTabs" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active" id="featured-tab" data-bs-toggle="tab"
                                                data-bs-target="#featured-content-1862" type="button"
                                                aria-selected="true" role="tab">Featured</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="new-tab" data-bs-toggle="tab"
                                                data-bs-target="#new-content-1862" type="button" aria-selected="false"
                                                tabindex="-1" role="tab">New Arrivals</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="sale-tab" data-bs-toggle="tab"
                                                data-bs-target="#sale-content-1862" type="button" aria-selected="false"
                                                tabindex="-1" role="tab">Sale</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="category-tab" data-bs-toggle="tab"
                                                data-bs-target="#category-content-1862" type="button"
                                                aria-selected="false" tabindex="-1" role="tab">Categories</button>
                                        </li>
                                    </ul>
                                </div>

                                <!-- Tabs Content -->
                                <div class="megamenu-content tab-content">

                                    <!-- Featured Tab -->
                                    <div class="tab-pane fade show active" id="featured-content-1862" role="tabpanel"
                                        aria-labelledby="featured-tab">
                                        <div class="product-grid">
                                            <div class="product-card">
                                                <div class="product-image">
                                                    <img src="\static\client\assets\img\product/product-1.webp"
                                                        alt="Featured Product" loading="lazy">
                                                </div>
                                                <div class="product-info">
                                                    <h5>Samsung Tv</h5>
                                                    <p class="price"></p>
                                                    <a href="#" class="btn-view">Voir le produit</a>
                                                </div>
                                            </div>
                                            <div class="product-card">
                                                <div class="product-image">
                                                    <img src="\static\client\assets\img\product/product-2.webp"
                                                        alt="Featured Product" loading="lazy">
                                                </div>
                                                <div class="product-info">
                                                    <h5>Motre</h5>
                                                    <p class="price"></p>
                                                    <a href="#" class="btn-view">Voir le produit</a>
                                                </div>
                                            </div>
                                            <div class="product-card">
                                                <div class="product-image">
                                                    <img src="\static\client\assets\img\product/product-3.webp"
                                                        alt="Featured Product" loading="lazy">
                                                </div>
                                                <div class="product-info">
                                                    <h5>Lunettes</h5>
                                                    <p class="price"></p>
                                                    <a href="#" class="btn-view">Voir le produit</a>
                                                </div>
                                            </div>
                                            <div class="product-card">
                                                <div class="product-image">
                                                    <img src="\static\client\assets\img\product/product-4.webp"
                                                        alt="Featured Product" loading="lazy">
                                                </div>
                                                <div class="product-info">
                                                    <h5>Vétement</h5>
                                                    <p class="price"></p>
                                                    <a href="#" class="btn-view">Voir le produit</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- New Arrivals Tab -->
                                    <div class="tab-pane fade" id="new-content-1862" role="tabpanel"
                                        aria-labelledby="new-tab">
                                        <div class="product-grid">
                                            <div class="product-card">
                                                <div class="product-image">
                                                    <img src="\static\client\assets\img\product/product-5.webp"
                                                        alt="New Arrival" loading="lazy">
                                                    <span class="badge-new">New</span>
                                                </div>
                                                <div class="product-info">
                                                    <h5>Mixeurs</h5>
                                                    <p class="price"></p>
                                                    <a href="#" class="btn-view">Voir le produit</a>
                                                </div>
                                            </div>
                                            <div class="product-card">
                                                <div class="product-image">
                                                    <img src="\static\client\assets\img\product/product-6.webp"
                                                        alt="New Arrival" loading="lazy">
                                                    <span class="badge-new">New</span>
                                                </div>
                                                <div class="product-info">
                                                    <h5>Casquette</h5>
                                                    <p class="price"></p>
                                                    <a href="#" class="btn-view">Voir le produit</a>
                                                </div>
                                            </div>
                                            <div class="product-card">
                                                <div class="product-image">
                                                    <img src="\static\client\assets\img\product/product-7.webp"
                                                        alt="New Arrival" loading="lazy">
                                                    <span class="badge-new">New</span>
                                                </div>
                                                <div class="product-info">
                                                    <h5>Chaussures</h5>
                                                    <p class="price"></p>
                                                    <a href="#" class="btn-view">Voir le produit</a>
                                                </div>
                                            </div>
                                            <div class="product-card">
                                                <div class="product-image">
                                                    <img src="\static\client\assets\img\product/product-8.webp"
                                                        alt="New Arrival" loading="lazy">
                                                    <span class="badge-new">New</span>
                                                </div>
                                                <div class="product-info">
                                                    <h5>Vélos</h5>
                                                    <p class="price"></p>
                                                    <a href="#" class="btn-view">Voir le produit</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Sale Tab -->
                                    <div class="tab-pane fade" id="sale-content-1862" role="tabpanel"
                                        aria-labelledby="sale-tab">
                                        <div class="product-grid">
                                            <div class="product-card">
                                                <div class="product-image">
                                                    <img src="\static\client\assets\img\product/product-9.webp"
                                                        alt="Sale Product" loading="lazy">
                                                    <span class="badge-sale">-30%</span>
                                                </div>
                                                <div class="product-info">
                                                    <h5>Casques</h5>
                                                    <p class="price"><span class="original-price"></span>
                                                    </p>
                                                    <a href="#" class="btn-view">Voir le produit</a>
                                                </div>
                                            </div>
                                            <div class="product-card">
                                                <div class="product-image">
                                                    <img src="\static\client\assets\img\product/product-10.webp"
                                                        alt="Sale Product" loading="lazy">
                                                    <span class="badge-sale">-25%</span>
                                                </div>
                                                <div class="product-info">
                                                    <h5>Vétements</h5>
                                                    <p class="price"><span class="original-price"></span>
                                                    </p>
                                                    <a href="#" class="btn-view">Voir le produit</a>
                                                </div>
                                            </div>
                                            <div class="product-card">
                                                <div class="product-image">
                                                    <img src="\static\client\assets\img\product/product-11.webp"
                                                        alt="Sale Product" loading="lazy">
                                                    <span class="badge-sale">-40%</span>
                                                </div>
                                                <div class="product-info">
                                                    <h5>Smart Phones</h5>
                                                    <p class="price"><span class="original-price"></span>
                                                    </p>
                                                    <a href="#" class="btn-view">Voir le produit</a>
                                                </div>
                                            </div>
                                            <div class="product-card">
                                                <div class="product-image">
                                                    <img src="\static\client\assets\img\product/product-12.webp"
                                                        alt="Sale Product" loading="lazy">
                                                    <span class="badge-sale">-20%</span>
                                                </div>
                                                <div class="product-info">
                                                    <h5>shampooing</h5>
                                                    <p class="price"><span class="original-price"></span>
                                                    </p>
                                                    <a href="#" class="btn-view">Voir le produit</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Categories Tab -->
                                    <div class="tab-pane fade" id="category-content-1862" role="tabpanel"
                                        aria-labelledby="category-tab">
                                        <div class="category-grid">
                                            <div class="category-column">
                                                <h4>Clothing</h4>
                                                <ul>
                                                    <li><a href="#">Men's Wear</a></li>
                                                    <li><a href="#">Women's Wear</a></li>
                                                    <li><a href="#">Kids Collection</a></li>
                                                    <li><a href="#">Sportswear</a></li>
                                                    <li><a href="#">Accessories</a></li>
                                                </ul>
                                            </div>
                                            <div class="category-column">
                                                <h4>Electronics</h4>
                                                <ul>
                                                    <li><a href="#">Smartphones</a></li>
                                                    <li><a href="#">Laptops</a></li>
                                                    <li><a href="#">Audio Devices</a></li>
                                                    <li><a href="#">Smart Home</a></li>
                                                    <li><a href="#">Accessories</a></li>
                                                </ul>
                                            </div>
                                            <div class="category-column">
                                                <h4>Home &amp; Living</h4>
                                                <ul>
                                                    <li><a href="#">Furniture</a></li>
                                                    <li><a href="#">Decor</a></li>
                                                    <li><a href="#">Kitchen</a></li>
                                                    <li><a href="#">Bedding</a></li>
                                                    <li><a href="#">Lighting</a></li>
                                                </ul>
                                            </div>
                                            <div class="category-column">
                                                <h4>Beauty</h4>
                                                <ul>
                                                    <li><a href="#">Skincare</a></li>
                                                    <li><a href="#">Makeup</a></li>
                                                    <li><a href="#">Haircare</a></li>
                                                    <li><a href="#">Fragrances</a></li>
                                                    <li><a href="#">Personal Care</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div><!-- End Products Mega Menu 1 Desktop View -->

                        </li><!-- End Products Mega Menu 1 -->

                        <!-- Products Mega Menu 2 -->
                        <li class="products-megamenu-2">
                            <a href="#">
                                <span>Tout Nos Produit</span>
                                <i class="bi bi-chevron-down toggle-dropdown"></i>
                            </a>

                            <!-- Products Mega Menu 2 Mobile View -->
                            <ul class="mobile-megamenu">

                                <li><a href="#">Page1</a></li>
                                <li><a href="#">Page 2</a></li>
                                <li class="dropdown"><a href="#"><span>Clothing</span> <i
                                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <ul>
                                        <li><a href="#">Shirts &amp; Tops</a></li>
                                        <li><a href="#">Coats &amp; Outerwear</a></li>
                                        <li><a href="#">gg</a></li>
                                        <li><a href="#">Sweatshirts</a></li>
                                        <li><a href="#">Dresses</a></li>
                                        <li><a href="#">Swimwear</a></li>
                                    </ul>
                                </li>

                                <li class="dropdown"><a href="#"><span>Shoes</span> <i
                                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <ul>
                                        <li><a href="#">Boots</a></li>
                                        <li><a href="#">Sandals</a></li>
                                        <li><a href="#">Heels</a></li>
                                        <li><a href="#">Loafers</a></li>
                                        <li><a href="#">Slippers</a></li>
                                        <li><a href="#">Oxfords</a></li>
                                    </ul>
                                </li>

                                <li class="dropdown"><a href="#"><span>Accessories</span> <i
                                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <ul>
                                        <li><a href="#">Handbags</a></li>
                                        <li><a href="#">Eyewear</a></li>
                                        <li><a href="#">Hats</a></li>
                                        <li><a href="#">Watches</a></li>
                                        <li><a href="#">Jewelry</a></li>
                                        <li><a href="#">Belts</a></li>
                                    </ul>
                                </li>

                                <li class="dropdown"><a href="#"><span>Specialty Sizes</span> <i
                                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <ul>
                                        <li><a href="#">Plus Size</a></li>
                                        <li><a href="#">Petite</a></li>
                                        <li><a href="#">Wide Shoes</a></li>
                                        <li><a href="#">Narrow Shoes</a></li>
                                    </ul>
                                </li>

                            </ul><!-- End Products Mega Menu 2 Mobile View -->

                            <!-- Products Mega Menu 2 Desktop View -->
                            <div class="desktop-megamenu">

                                <div class="megamenu-tabs">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active" id="womens-tab" data-bs-toggle="tab"
                                                data-bs-target="#womens-content-1883" type="button" aria-selected="true"
                                                role="tab">
                                                Page 1
                                            </button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="mens-tab" data-bs-toggle="tab"
                                                data-bs-target="#mens-content-1883" type="button" aria-selected="false"
                                                tabindex="-1" role="tab">
                                                Page 2
                                            </button>
                                        </li>

                                    </ul>
                                </div>

                                <!-- Tabs Content -->
                                <div class="megamenu-content tab-content">

                                    <!-- Women Tab -->
                                    <div class="tab-pane fade show active" id="womens-content-1883" role="tabpanel"
                                        aria-labelledby="womens-tab">
                                        <div class="category-layout">
                                            <div class="categories-section">
                                                <div class="category-headers">
                                                    <h4>Electroniques</h4>
                                                    <h4>ElectroMénager</h4>
                                                    <h4>Mode&Accessoires</h4>
                                                    <h4>Beauté & Soins</h4>
                                                </div>

                                                <div class="category-links">
                                                    <div class="link-row">
                                                        <a href="/2/produits">Smartphone</a>
                                                        <a href="#">Réfrigérateur</a>
                                                        <a href="#">Sacs à main </a>
                                                        <a href="#">Parfum femme</a>
                                                    </div>
                                                    <div class="link-row">
                                                        <a href="#">Écouteurs</a>
                                                        <a href="#">Four</a>
                                                        <a href="#">Montre homme</a>
                                                        <a href="#">Maquillage</a>
                                                    </div>
                                                    <div class="link-row">
                                                        <a href="#">Ordinateur portable</a>
                                                        <a href="#">Micro-ondes</a>
                                                        <a href="#">Montre femme</a>
                                                        <a href="#">Crème solaire</a>
                                                    </div>
                                                    <div class="link-row">
                                                        <a href="#">Téléviseur</a>
                                                        <a href="#">Mixeur</a>
                                                        <a href="#">Casquette</a>
                                                        <a href="#">Brosse à cheveux</a>
                                                    </div>
                                                    <div class="link-row">
                                                        <a href="#">Casque audio</a>
                                                        <a href="#">Aspirateur</a>
                                                        <a href="#">Lisseur</a>
                                                        <a href="#">Brosse à dents</a>
                                                    </div>
                                                    <div class="link-row">
                                                        <a href="#">Drone</a>
                                                        <a href="#">Grille-pain</a>
                                                        <a href="#">Montre digitale</a>
                                                        <a href="#">Rasoir électrique</a>
                                                    </div>
                                                    <div class="link-row">
                                                        <a href="#">View all</a>
                                                        <a href="#">View all</a>
                                                        <a href="#">View all</a>
                                                        <a href="#">View all</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="featured-section">
                                                <div class="featured-image">
                                                    <img src="/static/client/assets/img/ss.png"
                                                        alt="Women's Heels Collection">
                                                    <div class="featured-content">
                                                        <h3 style="color: white;">Votre
                                                            confiance<br>notre<br>engagement.</h3>
                                                        <a href="#" class="btn-shop">Achetez maintenant</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Men Tab -->
                                    <div class="tab-pane fade" id="mens-content-1883" role="tabpanel"
                                        aria-labelledby="mens-tab">
                                        <div class="category-layout">
                                            <div class="categories-section">
                                                <div class="category-headers">
                                                    <h4>Maison & Déco</h4>
                                                    <h4>Sports & Loisirs</h4>
                                                </div>

                                                <div class="category-links">
                                                    <div class="link-row">
                                                        <a href="#">Chaise</a>
                                                        <a href="#">Vélo</a>
                                                    </div>
                                                    <div class="link-row">
                                                        <a href="#">Table à manger </a>
                                                        <a href="#">Ballon de foot </a>
                                                        >
                                                    </div>
                                                    <div class="link-row">
                                                        <a href="#">Tapis</a>
                                                        <a href="#">Élastiques fitness</a>

                                                    </div>

                                                    <div class="link-row">
                                                        <a href="#">View all</a>
                                                        <a href="#">View all</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="featured-section">
                                                <div class="featured-image">
                                                    <img src="/static/client/assets/img/ss2.png"
                                                        alt="Men's Footwear Collection">
                                                    <div class="featured-content">
                                                        <h3 class="text-white">Ensemble vers<br>votre<br>réussite.</h3>
                                                        <a href="#" class="btn-shop">Achetez maintenant</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </li><!-- End Products Mega Menu 2 -->

                        <li><a href="/contact">Contact</a></li>

                    </ul>
                </nav>
            </div>
        </div>

        <!-- Announcement Bar -->
        <div class="announcement-bar py-2">
            <div class="container-fluid container-xl">
                <div class="announcement-slider swiper init-swiper">
                    <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": 1,
              "effect": "slide",
              "direction": "vertical"
            }
          </script>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">🚚 Livraison gratuite pour toute commande supérieure à DT 300</div>
                        <div class="swiper-slide">💰 Garantie satisfait ou remboursé sous 30 jours</div>
                        <div class="swiper-slide">🎁 20 % de réduction sur votre première commande - Utilisez le code :
                            FIRST20</div>
                        <div class="swiper-slide">⚡ Vente flash ! Jusqu’à 70 % de réduction sur une sélection d’articles
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                {% include "_flash.html" %}
            </div>
        </div>

        <!-- Mobile Search Form -->
        <div class="collapse" id="mobileSearch">
            <div class="container">
                <form class="search-form">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for products...">
                        <button class="btn search-btn" type="submit">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </header>

    {% block main %}

    {% endblock main %}

    <footer id="footer" class="footer light-background">
        <div class="footer-main">
            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-widget footer-about">
                            <a href="/" class="logo">
                                <span class="sitename">HighTeck</span>
                            </a>
                            <p>Découvrez une expérience d’achat fluide et agréable, pensée pour répondre à tous vos
                                besoins,
                                Profitez d’une navigation intuitive, de services fiables et d’une qualité irréprochable
                                à chaque étape.</p>

                            <div class="social-links mt-4">
                                <h5>Connect With Us</h5>
                                <div class="social-icons">
                                    <a href="#" aria-label="Facebook"><i class="bi bi-facebook"></i></a>
                                    <a href="#" aria-label="Instagram"><i class="bi bi-instagram"></i></a>
                                    <a href="#" aria-label="Twitter"><i class="bi bi-twitter-x"></i></a>
                                    <a href="#" aria-label="TikTok"><i class="bi bi-tiktok"></i></a>
                                    <a href="#" aria-label="Pinterest"><i class="bi bi-pinterest"></i></a>
                                    <a href="#" aria-label="YouTube"><i class="bi bi-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="footer-widget">
                            <h4>Shop</h4>
                            <ul class="footer-links">
                                <li><a href="#">Nouveautés</a></li>
                                <li><a href="#">Meilleures ventes</a></li>
                                <li><a href="#">Mode&Accessoires</a></li>
                                <li><a href="#">Beauté & Soins</a></li>
                                <li><a href="#">Sports & Loisirs </a></li>
                                <li><a href="#">Ventes</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="footer-widget">
                            <h4>Support</h4>
                            <ul class="footer-links">
                                <li><a href="#">Help Center</a></li>
                                <li><a href="#">Order Status</a></li>
                                <li><a href="#">Shipping Info</a></li>
                                <li><a href="#">Returns &amp; Exchanges</a></li>
                                <li><a href="#">Size Guide</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="footer-widget">
                            <h4>Contact Information</h4>
                            <div class="footer-contact">
                                <div class="contact-item">
                                    <i class="bi bi-geo-alt"></i>
                                    <span> Immeuble Ghada , Avenue Beit Elhikma , Mansoura , Kairouan</span>
                                </div>
                                <div class="contact-item">
                                    <i class="bi bi-telephone"></i>
                                    <span>+(216) 55 226 571</span>
                                </div>
                                <div class="contact-item">
                                    <i class="bi bi-envelope"></i>
                                    <span>bhanas148@gmail.com</span>
                                </div>
                                <div class="contact-item">
                                    <i class="bi bi-clock"></i>
                                    <span>Lundi-vendredi : 9h-18h<br>Samedi: 10am-4pm<br>Dimanchey: Fermée</span>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row gy-3 align-items-center">
                    <div class="col-lg-6 col-md-12">

                        <div class="credits mt-1">
                            <!-- All the links in the footer should remain intact. -->
                            <!-- You can delete the links only if you've purchased the pro version. -->
                            <!-- Licensing information: https://bootstrapmade.com/license/ -->
                            <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div
                            class="d-flex flex-wrap justify-content-lg-end justify-content-center align-items-center gap-4">
                            <div class="payment-methods">
                                <div class="payment-icons">
                                    <i class="bi bi-credit-card" aria-label="Credit Card"></i>
                                    <i class="bi bi-paypal" aria-label="PayPal"></i>
                                    <i class="bi bi-apple" aria-label="Apple Pay"></i>
                                    <i class="bi bi-google" aria-label="Google Pay"></i>
                                    <i class="bi bi-shop" aria-label="Shop Pay"></i>
                                    <i class="bi bi-cash" aria-label="Cash on Delivery"></i>
                                </div>
                            </div>

                            <div class="legal-links">
                                <a href="/tos">Terms</a>
                                <a href="/privacy">Privacy</a>
                                <a href="/tos">Cookies</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </footer>

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="/static/client/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/client/assets/vendor/php-email-form/validate.js"></script>
    <script src="/static/client/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/static/client/assets/vendor/aos/aos.js"></script>
    <script src="/static/client/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="/static/client/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/static/client/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/static/client/assets/vendor/drift-zoom/Drift.min.js"></script>
    <script src="/static/client/assets/vendor/purecounter/purecounter_vanilla.js"></script>

    <!-- Main JS File -->
    <script src="/static/client/assets/js/main.js"></script>

    {% block js %}

    {% endblock js %}

</body>

</html>